* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 800px;
}

.page {
    margin: 0 0.5em;
}

h1 {
    margin: 0.5em auto;
}

h2 {
    margin: 0.5em auto;
}

.header {
    text-align: center
}

.main {
    margin: 0.5em auto;
}

.menu {
    margin: 1em;
}

.menu li {
    display: inline;
    margin: 1em;
    white-space: nowrap;
}

.country {
    overflow: hidden;
    padding: 12px;
}

.flag {
    float: left;
}

.flag img {
    width: 128px;
    border: 1px solid black;
}

.detail {
    margin-left: 140px;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.75em;
}

.rating {
    font-size: 1.75em;
    margin-bottom: 0.75em;
}

.grade {
    font-weight: bold;
    display: inline;
}

.score {
    margin-left: 0.25em;
    display: inline;
}

.comment {
    /*clear: both;*/
}

.tags {
    max-width: 250px;
    float: right;
    margin-top: 3px;
}

.tag {
    /*display: inline;*/
    float: right;
    width: 64px;
    text-align: center;
    font-size: 0.8em;
    font-family: sans-serif;
    /* FIXME: border: 1px solid red; */
}

.tag-icon img {
    margin-top: 3px;
    min-height: 37px;
}

.even-row {
    background-color: #ddd;
}

.footer {
    text-align: center;
}

.impressum {
    margin: 0.5em auto;
    font-size: 0.8em;
}
